.site-header {
  border-bottom: solid 1px rgb(228, 226, 226);
  background-color: #e8e8e8;
  padding: 0px 30px;
  padding: 12px;
  text-align: center;
  overflow: hidden;

  a {
    float: left;
    color: #4e4e4e;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }

  a.active {
    color: #1fa6c5;
  }

  a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header-right {
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .site-header {
    a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-right {
      float: none;
    }
  }
}
