@import "header", "covid";

.app-container {
  font-family: sans-serif;
  background-color: #ffffff;

  a {
    text-decoration: none;
  }

  #welcome-text {
    animation-name: welcome-text-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  @keyframes welcome-text-animation {
    0% {
      color: red;
      left: 0px;
      top: 0px;
    }
    25% {
      color: yellow;
      left: 200px;
      top: 0px;
    }
    50% {
      color: blue;
      left: 200px;
      top: 200px;
    }
    75% {
      color: green;
      left: 0px;
      top: 200px;
    }
    100% {
      color: purple;
      left: 0px;
      top: 0px;
    }
  }
}
