.site-name {
  text-decoration: none;
}

.site-name:hover {
  text-decoration: none;
}

.site-name:link {
  text-decoration: none;
}

.site-name:visited {
  text-decoration: none;
}

.site-name:active {
  text-decoration: none;
}
